@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-6 col-sm-3 col-md-2 sidebar" id="sidebar">
        @if (User.IsInRole("Student"))
        {
            <h4>Student</h4>
            <ul class="nav nav-sidebar">
                <li>@Html.ActionLink("Update your Info", "UpdateStudent")</li>
            </ul>
        }
        @if (User.IsInRole("Coordinator") || User.IsInRole("Admin"))
        {
            <h4>Coordinator</h4>
            <ul class="nav nav-sidebar">
                <li>@Html.ActionLink("Invite Student", "InviteStudent", "ControlPanel")</li>
                <li>@Html.ActionLink("Active Student Invitations", "Invitations", "Student")</li>
                <li>@Html.ActionLink("View Majors", "", "Major")</li>
                <li>@Html.ActionLink("View Departments", "", "Department")</li>
                <li>@Html.ActionLink("View Students", "", "Student")</li>
                <li>@Html.ActionLink("Applications", "Applications", "Coop")</li>
            </ul>
        }
        @if (User.IsInRole("Admin"))
        {
            <h4>Administrator</h4>
            <ul class="nav nav-sidebar">
                <li>@Html.ActionLink("Invite Coordinator", "InviteCoordinator", "ControlPanel")</li>
                <li>@Html.ActionLink("Active Coordinator Invitations", "Invitations", "Coordinator")</li>
                <li>@Html.ActionLink("View Coordinators", "", "Coordinator")</li>
                <li>@Html.ActionLink("Disable Coordinators", "DisableCoordinators", "ControlPanel")</li>
                <li>@Html.ActionLink("Enable Coordinators", "EnableCoordinators", "ControlPanel")</li>
                <li>@Html.ActionLink("Set SMTP Information", "SMTP", "ControlPanel")</li>
            </ul>
        }
        <ul class="nav nav-sidebar">
            <li>@Html.ActionLink("Change Your Password", "ChangePassword", "Auth")</li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" id="cp-nav-btn">Menu</button>
        @RenderBody()
    </div>
</div>