@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        @if (User.IsInRole("Student"))
        {
        <h4>Student</h4>
        <ul class="nav nav-sidebar">
            <li>@Html.ActionLink("Update your Info", "UpdateStudent")</li>
        </ul>
        }
        @if (User.IsInRole("Coordinator") || User.IsInRole("Admin"))
        {
        <h4>Coordinator</h4>
        <ul class="nav nav-sidebar">
            <li>@Html.ActionLink("Invite Student", "InviteStudent", "ControlPanel")</li>
            @*<li>@Html.ActionLink("Disable Students", "DisableStudents")</li>
            <li>@Html.ActionLink("Enable Students", "EnableStudents")</li>*@
            <li>@Html.ActionLink("Active Student Invitations", "Invitations", "Student")</li>
	       <li>@Html.ActionLink("View Majors", "", "Major")</li>
	       <li>@Html.ActionLink("View Departments", "DepartmentList", "ControlPanel")</li>
	   <li>@Html.ActionLink("View Students", "", "Student")</li>
        </ul>
        }
        @if (User.IsInRole("Admin"))
        {
        <h4>Administrator</h4>
        <ul class="nav nav-sidebar">
            <li>@Html.ActionLink("Invite Coordinator", "InviteCoordinator", "ControlPanel")</li>
            <li>@Html.ActionLink("Disable Coordinators", "DisableCoordinators", "ControlPanel")</li>
            <li>@Html.ActionLink("Enable Coordinators", "EnableCoordinators", "ControlPanel")</li>
            <li>@Html.ActionLink("Set SMTP Information", "SMTP", "ControlPanel")</li>
        </ul>
        }
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="lcc-main-image">
        @RenderBody()
    </div>
</div>

@section Scripts {

        @Scripts.Render("~/bundles/jqueryval")
        <script>
            setTimeout(
            function(){
                $("#lcc-main-image").addClass("fadeout");
            }, 1000);
        </script>

    }