@model Coop_Listing_Site.Models.Department

@{
    ViewBag.Title = "Department Details";
    Layout = "~/Views/Shared/_CP_Layout.cshtml";
}

<h2>Department Details</h2>

<div>
    <h4>Department Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        @*not sure if I need something here for the majors property, I'm still a little confused on how this works in the department class*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditDepartment", new { id = Model.DepartmentID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "DepartmentList", new { id = Model.DepartmentName }, new { @class = "btn btn-primary" })
</p>
