
@{
    ViewBag.Title = "Disable Coordinators";
    Layout = "~/Views/Shared/_CP_Layout.cshtml";
}

<h2>Disable Coordinator Accounts</h2>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-center">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Enabled Coordinators", new { @class = "control-label" })
            <br />
            <div class="">
                @Html.DropDownList("Coordinators", (MultiSelectList)ViewBag.Coordinators, new { multiple = "multiple" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Disable" class="btn btn-primary" />
            </div>
        </div>

    </div>

}
