
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>This page has not yet been implemented</p>

<div>
    @if(User.IsInRole("Student"))
    {
        @Html.ActionLink("Update your Info","UpdateStudent")
        <br />
    }
    @if (User.IsInRole("Coordinator"))
    {
        @Html.ActionLink("Invite a student", "InviteStudent")
        <br />
        @Html.ActionLink("Disable Students", "DisableStudents")
        <br />
        @Html.ActionLink("Enable Students", "EnableStudents")
        <br />
    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Invite a coordinator", "InviteCoordinator")
        <br />
        @Html.ActionLink("Set SMTP Information", "SMTP")
        <br />
    }
</div>
