@model IEnumerable<Coop_Listing_Site.Models.RegisterInvite>

@{
    ViewBag.Title = "Current Student Invitations";
    Layout = "~/Views/Shared/_CP_Layout.cshtml";
}

<h2>Current Invitations</h2>

<p>
    @Html.ActionLink("Create New", "InviteStudent")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    @Html.ActionLink("Rescind Invitation", "Rescind", new { id = item.RegisterInviteID })
                </td>
            </tr>

        }
    </tbody>
</table>
