@model IEnumerable<Coop_Listing_Site.Models.RegisterInvite>

@{
    ViewBag.Title = "Current Invitations";
    Layout = "~/Views/Shared/_CP_Layout.cshtml";
}

<h2>Current Invitations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType)
        </td>
        <td>
            @Html.ActionLink("Rescind Invitation", "Rescind", new { id=item.RegisterInviteID })
        </td>
    </tr>
}

</table>
