@model Coop_Listing_Site.Models.ViewModels.StudentUpdateModel

@{
    ViewBag.Title = "Update Your Student Record";

    SelectList majorSelectList = ViewBag.Majors;
    SelectList gpaSelectList = ViewBag.GPAs;
}

<h2>@Html.Raw(ViewBag.Title)</h2>

@if (ViewBag.NoMatch != null)
{
    <h3>@Html.Raw(ViewBag.NoMatch)</h3>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)


        <div id="allOther">

            <div class="form-group">
                @Html.LabelFor(model => model.MajorID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.MajorID, majorSelectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MajorID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GPA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.GPA, gpaSelectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPA, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div id="passRequested">

            <div class="form-group">
                @Html.LabelFor(model => model.UpdatePass, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(model => model.UpdatePass, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

        </div>


        @*resolve jQuery redirects*@


            <div id="currentPass">
                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        <div id="changePass">
            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group" id="buttons">

            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

            <div class="col-md-offset-2 col-md-5">
                <input type="button" name="cancelPage" onclick="document.location.href='@Url.Action("Index","ControlPanel")';" value="Cancel Update" class="btn btn-default" />
            </div>

            <div class="col-md-offset-2 col-md-5">
                <input type="button" name="cancelPass" value="Cancel Password" class="btn btn-default" />
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#allOther').show();
        $('#passRequested').show();
        $('#currentPass').hide();
        $('#changePass').hide();
        $('input[name="cancelPass"]').hide();
        $('input[name="cancelPage"]').show();

        $("input:radio[name='UpdatePass']").click(recurse);
        
        $('input[name="cancelPass"]').click(recurse);

        function recurse(){
            $('#currentPass').toggle();
            $('#changePass').toggle();
            $('#allOther').toggle();
            $('#passRequested').toggle();
            $('input[name="cancelPass"]').toggle();
            $('input[name="cancelPage"]').toggle();
        }

    </script>
}
