@model Coop_Listing_Site.Models.Application

@{
    ViewBag.Title = "Application Details";
}

<h2>Application Details</h2>

<div>
    <h4>Opportunity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.User.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.LNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opportunity.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opportunity.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opportunity.CoopPositionTitle)
        </dt>

        <dd>
            @Html.ActionLink(Model.Opportunity.CoopPositionTitle, "Details", new { id = Model.Opportunity.OpportunityID })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Files)
        </dt>

        <dd>
          @foreach(var file in Model.Files)
          {
              @Html.ActionLink(file.FileName, "GetFile", new { id = file.UserFileID})
              <br />
          }
        </dd>                
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Applications") ||
    @Html.ActionLink("Delete Application", "AppDelete", new { id = Model.ApplicationId })
   
</p>