@model Coop_Listing_Site.Models.ViewModels.OpportunityModel
@{
    ViewBag.Title = "Delete a Opportunity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Cooperative Opportunity</h2>

<h3>Are you sure you want to permanently remove this cooperative opportunity?</h3>
<div>
    <h4>Cooperative Opportunity to be deleted</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>@Html.DisplayNameFor(model => model.CompanyName)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            <strong>@Html.DisplayNameFor(model => model.Location)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            <strong>@Html.DisplayNameFor(model => model.CoopPositionTitle)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoopPositionTitle)
        </dd>
        <dt>
            <strong>@Html.DisplayNameFor(model => model.CoopPositionDuties)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoopPositionDuties)
        </dd>
        <dt>
            <strong>@Html.DisplayNameFor(model => model.OpeningsAvailable)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpeningsAvailable)
        </dd>
        <dt>
            <strong>@Html.DisplayNameFor(model => model.TermAvailable)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TermAvailable)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to the opportunity list", "Index")
        </div>
    }
</div>

