@model Coop_Listing_Site.Models.Opportunity
@{
    ViewBag.Title = "Edit a Opportunity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Cooperative Opportunity</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cooperative Opportunity</h4>
        <hr />
        @Html.ValidationSummary(true, "", new  { @class = "text-danger"})
        @Html.HiddenFor(model => model.OpportunityID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.CompanyID)
        @Html.HiddenFor(model => model.CompanyName)
        <div class="form-group">
            @Html.LabelFor(model => model.ContactName, htmlAttributes: new {  @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("ContactName", Model.ContactName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("ContactNumber", Model.ContactNumber)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("ContactEmail", Model.ContactEmail)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("Location", Model.Location)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyWebsite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("CompanyWebsite", Model.CompanyWebsite)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AboutCompany, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("AboutCompany", Model.AboutCompany)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AboutDepartment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("AboutDepartment", Model.AboutDepartment)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CoopPositionTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("CoopPositionTitle", Model.CoopPositionTitle)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CoopPositionDuties, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("CoopPositionDuties", Model.CoopPositionDuties)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Qualifications, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("Qualifications", Model.Qualifications)
            </div>
        </div>
        @*//TODO: this should be changed to a dropdownlist in the future*@
        <div class="form-group">
            @Html.LabelFor(model => model.GPA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("GPA", Model.GPA)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Paid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Paid", Model.Paid)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Wage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wage, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Stippened, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Stippened", Model.Stippened)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UnPaid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("UnPaid", Model.UnPaid)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("Duration", Model.Duration)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OpeningsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("OpeningsAvailable", Model.OpeningsAvailable)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TermAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("TermAvailable", Model.TermAvailable)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentIDs")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to the opportunity list", "Index")
</div>

