@model IEnumerable<Coop_Listing_Site.Models.ViewModels.MajorViewModel>

@{
    ViewBag.Title = "Majors";
    Layout = "~/Views/Shared/_CP_Layout.cshtml";
}

<h2>Majors</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MajorName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MajorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MajorID })
                </td>
            </tr>
        }
    </tbody>
</table>