@model Coop_Listing_Site.Models.ViewModels.CoordinatorViewModel
@using Coop_Listing_Site.Models

@{
    ViewBag.Title = "Coordinator Details";
    Layout = "~/Views/Shared/_CP_Layout.cshtml";
}

<h2>Coordinator Details</h2>

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FirstName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Enabled)
		</dt>
		@if (Model.Enabled)
		{
		<dd>
			Enabled
		</dd>
		}
		else
		{
		<dd>
			Disabled
		</dd>
		}

		<dt>
			@Html.DisplayNameFor(model => model.Majors)
		</dt>
		@foreach (Major m in Model.Majors)
		{
		<dd>
			@Html.DisplayFor(modelItem => m.MajorName)
		</dd>
		}
	</dl>
</div>
<p>
	@*Html.ActionLink("Edit", "Edit", new { id = Model.LNumber }) |*@
	@Html.ActionLink("Back to List", "Index")
</p>
