@model IEnumerable<Coop_Listing_Site.Models.ViewModels.CoordinatorViewModel>

@{
    ViewBag.Title = "Coordinators";
    Layout = "~/Views/Shared/_CP_Layout.cshtml";
}

<h2>Coordinators</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Enabled)
                    {
                        <span class="text-info">Enabled</span>
                    }
                    else
                    {
                        <span class="text-info">Disabled</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.CoordInfoID }) |
                    @if (item.Enabled)
                    {
                        @Html.ActionLink("Disable", "Disable", new { id = item.CoordInfoID })
                    }
                    else
                    {
                        @Html.ActionLink("Enable", "Enable", new { id = item.CoordInfoID })
                    }
                </td>
            </tr>}
    </tbody>
</table>
